@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-primary: 0 0% 100%;
    --color-text-secondary: var(--color-bg-primary);
    --color-text-accent: 39 100% 67%;
    --color-text-muted-foreground: 240 5% 64.9%;

    --color-bg-primary: 0 0% 17%;
    --color-bg-secondary: 220 2% 25%;
    --color-bg-secondary-hover: var(--color-text-accent);
    --color-bg-skill-card: 220 6% 28%;

    --color-shop-card-border: var(--color-text-primary);

    --background: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --color-text-accent-hsl: 39.29deg 100% 67.06%;
    --shadow-color: 39.29deg 100% 67.06%;

    --bg-animation-color-start: var(--color-text-accent);
    --bg-animation-color-mid: 261 62% 70%;
    --bg-animation-color-end: 225 5% 47%;

    --bg-animation-stroke-width: 0.5;
    --bg-animation-stroke-opacity: 0.5;

    --nav-height-shop: 6rem;
    --carousel-height: 19rem;

    @media (max-width: 768px) {
      --bg-animation-stroke-width: 1.5;
      --bg-animation-stroke-opacity: 0.8;
    }
  }
}

@layer base {
  html,
  body {
    @apply font-inter bg-primary text-primary;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
