@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Navlink hover effect copied from Maggie Appleton website: https://maggieappleton.com */
  .navLink {
    @apply relative inline-block h-full;
    transition: all 0.5s cubic-bezier(0.2, 1, 0.8, 1) 0s;
  }

  .navLink::before {
    content: '';
    @apply pointer-events-none absolute left-0 top-[95%] h-px w-full bg-accent;
    transition:
      clip-path 0.3s ease,
      transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    transform-origin: 50% 100%;
    clip-path: polygon(0% 0%, 0% 100%, 0px 100%, 0px 0px, 100% 0px, 100% 100%, 0px 100%, 0px 100%, 100% 100%, 100% 0%);
  }

  .navLink:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1, 2, 1);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 50% 0px, 50% 0px, 50% 100%, 50% 100%, 0px 100%, 100% 100%, 100% 0%);
  }

  .navLink span {
    @apply inline-block text-primary;
    transition: transform 0.5s cubic-bezier(0.2, 1, 0.8, 1) 0s;
  }
  .navLink:hover span {
    transform: translateY(-2px);
  }
}

@layer base {
  :root {
    --color-text-primary: 0 0% 96%;
    /* --color-text-primary: 0 0% 100%; */
    --color-text-secondary: 230 10% 24%;
    --color-text-accent: 39 100% 67%;
    --color-text-muted-foreground: 240 5% 64.9%;

    --color-bg-primary: 0 0% 15%;
    --color-bg-secondary: 220 2% 25%;
    --color-bg-secondary-hover: var(--color-text-accent);
    --color-bg-skill-card: 220 6% 28%;

    --color-shop-card-border: var(--color-text-primary);

    --background: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --color-text-accent-hsl: 39.29deg 100% 67.06%;
    --shadow-color: 39.29deg 100% 67.06%;

    --bg-animation-color-start: var(--color-text-accent);
    --bg-animation-color-mid: 261 62% 70%;
    --bg-animation-color-end: 225 5% 47%;

    --bg-animation-stroke-width: 0.5;
    --bg-animation-stroke-opacity: 0.5;

    --nav-height-shop: 6rem;
    --carousel-height: 19rem;

    --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
    --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

    --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
    --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    @media (max-width: 768px) {
      --bg-animation-stroke-width: 1.5;
      --bg-animation-stroke-opacity: 0.8;
    }
  }
}

@layer base {
  html,
  body {
    @apply bg-primary font-inter text-primary;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
}
